
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}


img{
  max-width: 100%;
}

/* ------------   Home Screen Btn  -------------- */

.button-in-home{
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background-color: #aa4b4b;
  color: #fff;
  border-radius: 3px;
  z-index: 10;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
  transition: .3s all;
  outline: none;
  cursor: pointer;

  &:active{
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
    bottom: 18px;
  }

  &--right{
    left: 95%;
  }
}


/* ------------   /Home Screen Btn  -------------- */




/* ------------   Animation  -------------- */

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}


/* ------------   /Animation  -------------- */


/* ------------   Main Screen  -------------- */

.main-screen{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #aa4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;

  &__sign{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    text-decoration: none;

    &:after{
      content: '';
      height: 1px;
      width: 100%;
      background-color: #fff;
      display: block;
    }
  }

  &__title{
    font-size: 55px;
    margin-bottom: 20px;
  }

  &__btn{
    padding: 10px 30px;
    border: none;
    background-color: #8a4040;
    color: #fff;
    text-shadow: 0 0 0.5px #999;
    font-size: 15px;
    cursor: pointer;
    transition: .5s all;
    outline: none;

    &:hover{
      background-color: darken(#8a4040, 5%);
    }
  }
}


/* ------------   /Main Screen  -------------- */




/* ------------  Navigate  -------------- */

.nav{
  position: fixed;
  right: -100%;
  background-color: #fff;
  z-index: 100;
  width: 350px;
  height: 100%;
  box-shadow: 0 -1px 15px -1px rgba(0, 0, 0, .5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;

  transition: 1s right ease-in-out .5s;


  &.show{
    right: 0;
    transition: 1s right ease-in-out;
    transition-delay: 0s;
  }

  &__cross{
    width: 25px;
    height: 25px;
    position: fixed;
    top: 30px;
    right: 0;
    fill: #515151;
    transition: .3s top, .5s right .7s, .3s opacity .3s, .3s visibility .3s;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;

    &:hover{
      top: 35px;
    }

    &.show{
      visibility: visible;
      opacity: 1;
      right: 30px;
      transition: .3s top, .5s right 1.6s, .5s opacity 1.6s, .5s visibility 1.6s;
    }
  }

  &__list{
    list-style: none;
    padding: 20px;
    display: block;
    width: 100%;
  }

  &__item{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s all;

    &.current-item{
      background: #eee;
      pointer-events: none;
    }

    &:nth-child(1):hover{
      background-color: #404040;
      color: #fff;
    }

    &:nth-child(2):hover{
      background-color: #3b7d74;
      color: #fff;
    }

    &:nth-child(3):hover{
      background-color: #33568d;
      color: #fff;
    }

    &:nth-child(4):hover{
      background-color: #cd8600;
      color: #fff;
    }
  }

}

.nav-icon{
  width: 30px;
  height: 30px;
  position: fixed;
  right: 0;
  top: 30px;
  z-index: 1;
  fill: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .6s all .3s;

  &.show{
    right: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 2.3s;
  }
}


/* ------------  /Navigate  -------------- */



/* ------------  Content  -------------- */


.content{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;

  &__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top .5s;
    transition-delay: .3s;

    &.show{
      position: absolute;
      transition: top .5s;
      top: 20px;
      transition-delay: 2s;
    }
  }


  &__item{
    cursor: pointer;
    position: fixed;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    overflow: hidden;
    transition: .7s top ease-in-out .5s,
                .7s left ease-in-out .5s,
                .7s width ease-in-out .5s,
                1s opacity .8s,
                1s visibility .8s;


    &:nth-child(1){
      background-color: #404040;
      color: #fff;
      left: 0;
    }

    &:nth-child(2){
      background-color: #3b7d74;
      color: #fff;
      left: 25%;
    }

    &:nth-child(3){
      background-color: #33568d;
      color: #fff;
      left: 50%;
    }

    &:nth-child(4){
      background-color: #cd8600;
      color: #fff;
      left: 75%;
    }


    &.hidden{
      opacity: 0;
      visibility: hidden;
      transition: .7s opacity .3s, .7s visibility .3s;
    }

    &.fixed-animated{
      width: 100%;
      top: 0;
      left: 0;
      cursor: auto;

    }

  }

  &__arrow{
    width: 25px;
    height: 25px;
    position: fixed;
    top: 35px;
    left: 0;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .5s all;
    transition-delay: .3s;

    &.show{
      opacity: 1;
      visibility: visible;
      left: 35px;
      transition-delay: 2s;
    }
  }
}


.content-modal{
  background-color: #fff;
  font-size: 20px;
  line-height: 1.5;
  padding: 40px;
  width: 70%;
  transition: 1s all;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  color: #515151;
  height: calc(100vh - 200px);;
  padding-bottom: 50px;
  border-radius: 3px;
  box-shadow: 0 10px 25px 3px rgba(0,0,0,.5);


  &.show{
    visibility: visible;
    opacity: 1;
    top: 100px;
    transition-delay: 1.5s;
    transition-duration: 1s;
  }
}


/* ------------  /Content  -------------- */
