body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

/* ------------   Home Screen Btn  -------------- */

.button-in-home {
  position: fixed;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #aa4b4b;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 10;
  border: none;
  padding: 10px 20px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  outline: none;
  cursor: pointer;
}

.button-in-home:active {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
  bottom: 18px;
}

.button-in-home--right {
  left: 95%;
}

/* ------------   /Home Screen Btn  -------------- */

/* ------------   Animation  -------------- */

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/* ------------   /Animation  -------------- */

/* ------------   Main Screen  -------------- */

.main-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #aa4b4b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-screen__sign {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  text-decoration: none;
}

.main-screen__sign:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #fff;
  display: block;
}

.main-screen__title {
  font-size: 55px;
  margin-bottom: 20px;
}

.main-screen__btn {
  padding: 10px 30px;
  border: none;
  background-color: #8a4040;
  color: #fff;
  text-shadow: 0 0 .5px #999;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  outline: none;
}

.main-screen__btn:hover {
  background-color: #793838;
}

/* ------------   /Main Screen  -------------- */

/* ------------  Navigate  -------------- */

.nav {
  position: fixed;
  right: -100%;
  background-color: #fff;
  z-index: 100;
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 0 -1px 15px -1px rgba(0, 0, 0, .5);
  box-shadow: 0 -1px 15px -1px rgba(0, 0, 0, .5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
  -webkit-transition: 1s right ease-in-out .5s;
  -o-transition: 1s right ease-in-out .5s;
  transition: 1s right ease-in-out .5s;
}

.nav.show {
  right: 0;
  -webkit-transition: 1s right ease-in-out;
  -o-transition: 1s right ease-in-out;
  transition: 1s right ease-in-out;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.nav__cross {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 30px;
  right: 0;
  fill: #515151;
  -webkit-transition: .3s top, .5s right .7s, .3s opacity .3s, .3s visibility .3s;
  -o-transition: .3s top, .5s right .7s, .3s opacity .3s, .3s visibility .3s;
  transition: .3s top, .5s right .7s, .3s opacity .3s, .3s visibility .3s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.nav__cross:hover {
  top: 35px;
}

.nav__cross.show {
  visibility: visible;
  opacity: 1;
  right: 30px;
  -webkit-transition: .3s top, .5s right 1.6s, .5s opacity 1.6s, .5s visibility 1.6s;
  -o-transition: .3s top, .5s right 1.6s, .5s opacity 1.6s, .5s visibility 1.6s;
  transition: .3s top, .5s right 1.6s, .5s opacity 1.6s, .5s visibility 1.6s;
}

.nav__list {
  list-style: none;
  padding: 20px;
  display: block;
  width: 100%;
}

.nav__item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.nav__item.current-item {
  background: #eee;
  pointer-events: none;
}

.nav__item:nth-child(1):hover {
  background-color: #404040;
  color: #fff;
}

.nav__item:nth-child(2):hover {
  background-color: #3b7d74;
  color: #fff;
}

.nav__item:nth-child(3):hover {
  background-color: #33568d;
  color: #fff;
}

.nav__item:nth-child(4):hover {
  background-color: #cd8600;
  color: #fff;
}

.nav-icon {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 0;
  top: 30px;
  z-index: 1;
  fill: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .6s all .3s;
  -o-transition: .6s all .3s;
  transition: .6s all .3s;
}

.nav-icon.show {
  right: 30px;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 2.3s;
  -o-transition-delay: 2.3s;
  transition-delay: 2.3s;
}

/* ------------  /Navigate  -------------- */

/* ------------  Content  -------------- */

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;
}

.content__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: top .5s;
  -o-transition: top .5s;
  transition: top .5s;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.content__text.show {
  position: absolute;
  -webkit-transition: top .5s;
  -o-transition: top .5s;
  transition: top .5s;
  top: 20px;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

.content__item {
  cursor: pointer;
  position: fixed;
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  overflow: hidden;
  -webkit-transition: .7s top ease-in-out .5s,  .7s left ease-in-out .5s,  .7s width ease-in-out .5s,  1s opacity .8s,  1s visibility .8s;
  -o-transition: .7s top ease-in-out .5s,  .7s left ease-in-out .5s,  .7s width ease-in-out .5s,  1s opacity .8s,  1s visibility .8s;
  transition: .7s top ease-in-out .5s,  .7s left ease-in-out .5s,  .7s width ease-in-out .5s,  1s opacity .8s,  1s visibility .8s;
}

.content__item:nth-child(1) {
  background-color: #404040;
  color: #fff;
  left: 0;
}

.content__item:nth-child(2) {
  background-color: #3b7d74;
  color: #fff;
  left: 25%;
}

.content__item:nth-child(3) {
  background-color: #33568d;
  color: #fff;
  left: 50%;
}

.content__item:nth-child(4) {
  background-color: #cd8600;
  color: #fff;
  left: 75%;
}

.content__item.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .7s opacity .3s, .7s visibility .3s;
  -o-transition: .7s opacity .3s, .7s visibility .3s;
  transition: .7s opacity .3s, .7s visibility .3s;
}

.content__item.fixed-animated {
  width: 100%;
  top: 0;
  left: 0;
  cursor: auto;
}

.content__arrow {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 35px;
  left: 0;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.content__arrow.show {
  opacity: 1;
  visibility: visible;
  left: 35px;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

.content-modal {
  background-color: #fff;
  font-size: 20px;
  line-height: 1.5;
  padding: 40px;
  width: 70%;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  color: #515151;
  height: -webkit-calc(100vh - 200px);
  height: calc(100vh - 200px);
  padding-bottom: 50px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 25px 3px rgba(0, 0, 0, .5);
  box-shadow: 0 10px 25px 3px rgba(0, 0, 0, .5);
}

.content-modal.show {
  visibility: visible;
  opacity: 1;
  top: 100px;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* ------------  /Content  -------------- */